body {
    background-color: lightgray;
}

.box {
    background-color: white;
    position: relative;
    top: 50px;
}

.box-1 {
    height: 425px;
    width: 750px;
    left: -75px;
    padding: 10%;
}

.box-2 {
    height: 375px;
    width: 450px;
    left: 40px;
    padding: 10%;
}

h1, h2, h3 {
    color: lightseagreen;
    font-weight: bold;
    text-align: center;
 }

.img-sm {
    width: 300px;
}

.img-thumb {
    width: 175px;
    position: relative;
}